/.github/*          	            @sodiqjonovich
/src/LockWarden.Domain/*          @Kkkiittt
/src/LockWarden.DataAccess/*      @ulugbekivich
/src/LockWarden.Service/*         @Kkkiittt 
/src/LockWarden.Desktop/*	        @zokirjanov
