/.github/*          	          @sodiqjonovich
/src/LockWarden.Domain/*          @Kkkiittt
/src/LockWarden.DataAccess/*      @FayzullaevJavlonbek
/src/LockWarden.Service/*         @ulugbekivich 
/src/LockWarden.Desktop/*	    @zokirjanov